@import "tailwindcss";

@theme {
  --color-dnm-black: oklch(0.2562 0 0);
  --color-dnm-dark-green: oklch(0.4209 0.0792 172.88);
  --color-dnm-light-green: oklch(0.5725 0.1145 151.74);
  --color-dnm-white: oklch(0.9862 0.0142 84.58);
  --font-garet: var(--font-garet);
}
