@import "tailwindcss";

@theme {
  --color-dnm-black: oklch(0.2562 0.0001 0);
  --color-dnm-dark-green: oklch(0.4209 0.0792 172.88);
  --color-dnm-light-green: oklch(0.5725 0.1145 151.74);
  --color-dnm-white: oklch(0.9862 0.0142 84.58);
  --color-dnm-gray: oklch(37.34% 0.003 197.04);
  --font-garet: var(--font-garet);

  /* @link https://utopia.fyi/type/calculator?c=760,14,1.2,1400,28,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --text-step--2: clamp(0.6076rem, -0.0008rem + 1.2809vw, 1.12rem);
  --text-step--1: clamp(0.7292rem, -0.0674rem + 1.6771vw, 1.4rem);
  --text-step-0: clamp(0.875rem, -0.1641rem + 2.1875vw, 1.75rem);
  --text-step-1: clamp(1.05rem, -0.3008rem + 2.8438vw, 2.1875rem);
  --text-step-2: clamp(1.26rem, -0.4908rem + 3.6859vw, 2.7344rem);
  --text-step-3: clamp(1.512rem, -0.7513rem + 4.7649vw, 3.418rem);
  --text-step-4: clamp(1.8144rem, -1.1045rem + 6.1452vw, 4.2725rem);
  --text-step-5: clamp(2.1773rem, -1.5791rem + 7.9082vw, 5.3406rem);
  --text-step-5: clamp(2.1773rem, -1.5791rem + 7.9082vw, 5.3406rem);
  --text-step-6: clamp(2.6127rem, -2.2121rem + 10.1575vw, 6.6757rem);
  --text-step-7: clamp(3.1353rem, -3.0508rem + 13.0234vw, 8.3447rem);
  --text-step-8: clamp(3.7623rem, -4.1565rem + 16.6712vw, 10.4308rem);
  --text-step-9: clamp(4.5148rem, -5.6071rem + 21.3093vw, 13.0385rem);

  /* @link https://utopia.fyi/type/calculator?c=360,14,1.2,768,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --text-mobile-step--2: clamp(0.6076rem, 0.4379rem + 0.7544vw, 0.8rem);
  --text-mobile-step--1: clamp(0.7292rem, 0.4902rem + 1.0621vw, 1rem);
  --text-mobile-step-0: clamp(0.875rem, 0.5441rem + 1.4706vw, 1.25rem);
  --text-mobile-step-1: clamp(1.05rem, 0.5978rem + 2.0098vw, 1.5625rem);
  --text-mobile-step-2: clamp(1.26rem, 0.6484rem + 2.7181vw, 1.9531rem);
  --text-mobile-step-3: clamp(1.512rem, 0.6919rem + 3.6447vw, 2.4414rem);
  --text-mobile-step-4: clamp(1.8144rem, 0.7226rem + 4.8524vw, 3.0518rem);
  --text-mobile-step-5: clamp(2.1773rem, 0.7325rem + 6.4212vw, 3.8147rem);
}

@utility scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
@utility scrollbar-default {
  /* Firefox */
  scrollbar-width: auto;
  /* IE and Edge */
  -ms-overflow-style: auto;
  /* Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: block;
  }
}
