.sticky-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: oklch(0.2562 0.0001 0);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}
